/* seccion 1 */
body{
    background-image: url(./assets/Rectangle\ 1.png);
    background-repeat: no-repeat;
    margin: 0;
    background-size: 100%;
}



.barrinit{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    margin: 0 0 64px 0;
    width: 100%;
    box-sizing: border-box;
}

.menu{
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}
.menu a{
    margin: 10px 20px 10px 20px;
    text-decoration: none;
}

.menu a:hover{
    text-decoration: underline;
}
.button-signup{
    font-size: 15px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 10px;
    color: white;
    font-weight: bold;
    border-color: purple;
    background-color: blueviolet;
}

.button-signup:hover{
    background-color: rebeccapurple ;
    cursor: pointer;
}

.payments{
    display: flex;
    justify-content: center;
}

.column-left{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-items: center;
    margin: 0 50px 0 50px;
    width: 65%;

}

.phone{
    width: 400px;
    height: 600px;
    margin: 20px;
    padding-right: 20px;
    box-sizing: border-box;

}

h1{
    font-size: 500%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p{
    font-size: 200%;
    display: flex;
    margin: 0 0 50px 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.buttonstar{
    border-radius: 15px;
    font-size: 25px ;
    background-color: #000057;
    padding: 5px 15px;
    border: none;
    color: aliceblue;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}

.buttonstar:hover{
    background-color: blue;
    cursor: pointer;
}


.buttoncontact{
    border-radius: 15px;
    font-size: 25px ;
    background-color: transparent;
    padding: 5px 15px;
    border: none;
    color: slateblue;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.buttoncontact:hover{
    background-color: beige ;
    cursor: pointer;
}


.partners img{
    height: 50px;
    place-self: center;

}
.partners{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row: 1fr 1fr;
    margin: 10px 50px;

}
.hamburger_button{
    display: none;
}
@media only screen and (max-width:1100px) {
.button-signup{
    display: none;
}
.column-left{
    margin: 0 50px 0 50px;
    width: 40%;

}

.phone{
    width: 350px;
    height: 450px;
    margin: 20px;
    padding-right: 0px;
}

h1{
    font-size: 300%;
    
}

p{
    font-size: 150%;
    margin: 0 0 40px 0;
}
    
}

@media only screen and (max-width:760px) {
    .button-signup{
        display: none;
    }
    .menu{
        display: none;
    }
    .hamburger_button{
        display: flex;
    }
    .hamburger{
        display: flex; 
        width: 50px; 
        border-radius: 10px; 
        background-color: transparent;
        font-weight: bold;
        align-items: center;
        justify-self: center;
        flex-direction: column;
        
    }
    .column-left{
        margin: 0 50px 0 50px;
        width: 65%;
    
    }
    .phone{
        display: none;
    }
    
    h1{
        font-size: 400%;
        
    }
    
    p{
        font-size: 150%;
        margin: 0 0 40px 0;
    }
    .partners{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-row: 1fr 1fr 1fr 1fr;
        margin: 10px 50px;
    }
}

/* seccion 2 */
.payments_products{
    background-color: aliceblue;
}

.payments_products .buttonnow{
    margin: 20px 50px;
}

.text_container p{
    display: flex;
    color: #000057;
    margin: 50px;
    font-size: x-large;
}

h2{
    display: flex;
    font-size: xxx-large;
    margin: 0 0 0 50px;
    width: 50%;
}
.colums{
    display: flex;
    margin: 0 50px 0 0px
}
.col-left p{
    display: block;
    width: 550px;
    color: black;
    font-size: larger;
}
.col-rigth p{
    display: block;
    color: black;
    font-size: larger;
}

.buttonnow .buttonstar{
    background-color: slateblue;
}

.buttonnow .buttonstar:hover{
    background-color: blue;
    cursor: pointer;
}

.grid_img{
    display: grid;
    grid-template-areas:
        "card slack slack"
        "phone slack slack"
        "phone dash dash";
    grid-gap: 35px;
    margin: 0 50px 32px 50px;
}

#credit-card {
    grid-area: card;
    width: 100%;
}

#slack {
    grid-area: slack;
    width: 100%;
}
  
#iphone {
    grid-area: phone;
    width: 100%;
}
#dash {
    grid-area: dash;
    width: 100%;
}

@media only screen and (max-width:1100px) {
    .col-left p{
        width: 400px;
    }
    
}



@media only screen and (max-width:760px) {
    h2{
        width: 90%;
    }
    .colums{
        flex-direction: column;
    }    
    .col-left p{
        width: 80%;
    }
}